<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/featured.css" />
  <link rel="stylesheet" href="/styles/listed-shoes.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>


<body>
  <!-- Top of page-->
  <%- include('partials/_header') %>
    <!--info on page-->
    <h1 class="featured-title">Featured Shoes</h1>
    <div class="main-container">
      <% for (let i of featuredData) { %>
        <div class="feature-container">
          <div class="featured">
            <div class="shoe-display">
              <img src="/images/<%= i.image_url %>" class="shoe-image">
              <p class="shoe-name">
                <%= i.brand %>
              </p>
              <p class="price">$ <%= i.price%>
              </p>
              <div class="size-and-icon">
                <div class="size-div">
                  <p class="size"> Size: <%= i.size %>
                  </p>
                </div>
                <div class="star-div">
                <i class="fa-solid fa-star" id="star"></i>
              </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <h1 class="all-shoes">All Shoes</h1>
    <div class="sort-buttons">
      <button id="sort-high-to-low">Sort by Price (High to Low)</button>
      <button id="sort-low-to-high">Sort by Price (Low to High)</button>
    </div>
    <div class="listed-container">
      <% for (let i of data) { %>
        <div class="listed-shoes">
          <div class="shoe-display">
            <img src="/images/<%= i.image_url %>" class="shoe-image" id="image" >
            <p class="shoe-name">
              ID: <%= i.id %> <%= i.brand %>
            </p>
            <p class="price">$ <%= i.price %>
            </p>
            <p class="size">Size: <%= i.size %>
            </p>
            <i class="fa-solid fa-star" id="star"></i>
          </div>
        </div>
        <% } %>
    </div>
</body>

<script>
$(document).ready(function() {
  const $shoes = $('.listed-shoes');
  const $highToLow = $('#sort-high-to-low');
  const $lowToHigh = $('#sort-low-to-high');

  $highToLow.click(function() {
    $shoes.sort((a, b) => Number($('.price', b).text().slice(2)) - parseFloat($('.price', a).text().slice(2)))
      .appendTo('.listed-container');
  });

  $lowToHigh.click(function() {
    $shoes.sort((a, b) => Number($('.price', a).text().slice(2)) - parseFloat($('.price', b).text().slice(2)))
      .appendTo('.listed-container');
  });

  const $favorite = $('#star');

  $favorite.click(function() {

  })
});
</script>
</html>
