<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/my_listings.scss" />
  <title>My Listings</title>
</head>

<body>
  <%- include('header') %>
  <h1>All Posts</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Sold?</th>
        <th scope="col">Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i of result) { %>
        <!-- Size: <%= i.size %> -->
        <tr class="listed-container">
          <td><img src="/images/<%= i.image_url %>" class="shoe-image"></td>
          <td>
            <%= i.brand %>
          </td>
          <td>
            <%= i.price %>
          </td>
          <td>
            <%= i.description %>
          </td>
          <td>
            <form method="POST" action="/listings/sold/<%= i.id %>">
              <% if (i.is_sold) { %>
                <p>sold</p>
                <%} else {%>
                  <button type="submit" class="btn btn-outline-success">Sold</button>
                  <% } %>
            </form>

          </td>
          <td>
            <form method="POST" action="/listings/delete/<%= i.id %>"><button type="submit"
                class="btn btn-outline-danger">Delete</button></form>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>

</html>
